/doc/*.css
/doc/*.html
/doc/*.js
/doc/*.txt
/doc/manual.lab
/doc/manual.pdf
/doc/manual.six
/doc/UnitTests.aux
/doc/UnitTests.bbl
/doc/UnitTests.blg
/doc/UnitTests.idx
/doc/UnitTests.ilg
/doc/UnitTests.ind
/doc/UnitTests.log
/doc/UnitTests.out
/doc/UnitTests.pnr
/doc/UnitTests.tex
/doc/UnitTests.toc
